name: Tests relai
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test-okv:
    name: Tests relai
    runs-on: ubuntu-latest
    steps:
      - name: Préparation de Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23

      - name: Installer pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Ouvrir la branche
        uses: actions/checkout@v5

      - name: Installer
        run: pnpm install --lockfile=false

      - name: Vérifier les tests
        run: pnpm test

      - name: Envoyer couverture à Codecov
        uses: codecov/codecov-action@v5
